/*  ======================= MAIN ========================== */
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container-hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("../../assets/img/avocado-bg.png");
  background-size: 100vh 100vh; /* set a fixed size for the background image */
  z-index: 1;
  overflow-x: hidden;
  background-position: center;
}

.container-hero h1 {
  background-color: #ffffff;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.logo-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-group a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  position: relative;
  font-size: 18px;
}

/* ======================= SECONDARY =========================== */
.container-duo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("../../assets/img/avocado-bg.png");
  background-size: 100vh 100vh; /* set a fixed size for the background image */
  z-index: 1;
  overflow-x: hidden;
  background-position: center;
  filter: hue-rotate(90deg);
}

.container-duo h1 {
  background-color: #ffffff;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.container-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.about {
  flex-basis: 50%;
  padding: 20px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 1);
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  flex-wrap: wrap;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  column-count: auto;
  max-width: 1000px;
}

.card {
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 10px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.card h3 {
  margin-top: 0;
}

.card p {
  margin-bottom: 0;
}

.card img {
  border-radius: 50%;
  border: 3px solid #000000;
  width: 150px;
  height: 150px;
  object-fit: cover;
  /* inverse da color */
  filter: hue-rotate(-90deg);
  margin-bottom: 1rem;
}

.about-txt-1 {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}

.desmos-eating {
  font-size: 0.7rem;
}

/* ========================END SECONDARY ======================== */

/*  ======================= NAV ========================== */

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 20px 10px 10px !important;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 99%;
}

.logo {
  height: 50px;
}

.navbar .nav-links {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  position: relative;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.navbar .nav-links::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.navbar .nav-links:hover {
  color: #000000;
}

.navbar .nav-links:hover::after {
  width: 100%;
  visibility: visible;
}

/* Responsive styling */
@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar .nav-links {
    padding: 5px;
    font-size: 16px;
  }

  .logo {
    margin-bottom: 10px;
  }

  .container-hero {
    background-size: contain;
  }

  .container-duo {
    background-size: contain;
  }

  .container-duo h1 {
    padding: 1rem;
    font-size: 1.5rem;
  }

  .about {
    padding: 0.5rem;
    max-width: 90vw;
    justify-content: center;
    align-items: center;
  }

  .about p {
    font-size: 1rem;
  }

  .about h2 {
    font-size: 1.5rem;
  }

  .cards {
    column-count: 2;
    padding: 1rem;
  }

  .card {
    max-width: 100%;
    margin: 10px 0;
  }

  .card img {
    width: 100px;
    height: 100px;
  }

  .card h3 {
    font-size: 1.2rem;
  }

  .card p {
    font-size: 0.8rem;
  }

  .container-hero h1 {
    padding: 1rem;
    font-size: 1.5rem;
  }

  .arrow-down {
    width: 30px;
    height: 30px;
  }
  .container-about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  table {
    max-width: 80%;
    border-collapse: collapse;
    font-size: 16px;
  }

  table tbody tr td p.desmos-eating {
    font-size: 0.5rem;
  }

  th,
  td {
    padding: 1px;
    text-align: left;
    border: 1px solid black;
    font-size: 0.5rem;
  }

  th {
    background-color: #ddd;
  }

  @media only screen and (max-width: 600px) {
    table {
      font-size: 14px;
    }

    th,
    td {
      padding: 5px;
    }
  }
}

/* ======================== FOOTER ============================ */
footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* responsive */
@media screen and (max-width: 600px) {
  footer {
    font-size: 12px;
  }
}

/* ============================= Scroll Bar ==========================*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

/* =============================== ARROW ============================== */
.arrow-down {
  width: 50px;
  height: 50px;
  filter: invert(1);
  animation: arrow-bounce 1s infinite;
  background-image: url("../../assets/img/arrow-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@keyframes arrow-bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* =============================== DISCO MODE ============================== */
.disco-mode {
  animation: disco 0.5s infinite;
}

@keyframes disco {
  0% {
    filter: hue-rotate(0deg);
  }
  25% {
    filter: hue-rotate(90deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  75% {
    filter: hue-rotate(270deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/* ============================== ARROW ==================================== */

.arrow-up {
  width: 30px;
  height: 30px;
  filter: invert(1);
  margin: 1rem;
  animation: arrow-bounce 1s infinite;
  background-image: url("../../assets/img/arrow-img.png");
  rotate: 180deg;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* ================================= TABLE ==================================== */

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: center;
}
table thead tr th {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #ddd;
}
table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
table tbody tr:hover {
  background-color: #ddd;
}
table td {
  padding: 10px;
  border: 1px solid #ddd;
}
table td:first-child {
  text-align: left;
}
table td:last-child {
  font-weight: bold;
}
